<div class="container">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal">
          <fieldset>
            <legend class="text-center">Registration </legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>
              <div class="col-md-6">
                <input id="email" name="email" type="email" placeholder="Your email" class="form-control" ng-model='email'>
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="password">Password</label>
              <div class="col-md-6">
                <input type="password" placeholder="Your password" class="form-control" ng-model='password'>
              </div>
            </div>

             <div class="form-group">
              <label class="col-md-4 control-label" for="first name">First Name</label>
              <div class="col-md-6">
                <input  type="text" placeholder="Your first name" class="form-control" ng-model='firstName'>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="last name">Last Name</label>
              <div class="col-md-6">
                <input  type="text" placeholder="Your last name" class="form-control" ng-model='lastName'>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="phone number">Phone Number</label>
              <div class="col-md-6">
                <input type="text" placeholder="Your phone number" class="form-control" ng-model='phone'>
              </div>
            </div>
    

    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button class="btn btn-primary btn-lg" ng-click='registerMe()'>Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>
